[Unit]
Description=Octavia Interface Creator
Requires=neutron-linuxbridge-agent.service
After=neutron-linuxbridge-agent.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/octavia-interface.sh start
ExecStop=/usr/libexec/octavia-interface.sh stop

[Install]
WantedBy=multi-user.target